div.schedule-box {
    border: 5px solid blue;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.4fr repeat(5, 1fr);
}

.grid-item-timeslot{
    text-align: center;
    background-color: rgba(255, 192, 203, 0.457);
    border: 2px solid pink;
    font-size: medium;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-item, .weekday-header {
    border: 2px solid pink;
}

.weekday-header, .timeslot-header {
    background-color: pink;
    font-size: medium;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.activity {
    border: 1px solid black;
    background-color: rgba(137, 43, 226, 0.249);
    text-align: center;
    padding: 4px;
}

.course-name {
    font-size: medium;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.students {
    height: 150px;
    border: 2px solid orange;
}

.student-title {
    font-weight: 800;
}

.line {
    border: 1px solid rgba(255, 166, 0, 0.383);
}