<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="../static/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Timetable</title>

    </head>

    <body>

        <div class="header">
            <h1> Here's your timetable </h1>
        </div>

        <div class="score">
            <text> The score of this timetable is: -{{score}}</text>
        </div>
        <div class="students overflow-auto">
            <text class="student-title">Students</text>
            {% for student in students %}
            <li class="student-list">
                <div class="line"></div>
                {{student}}
            </li>
            {% endfor %}
        </div>
        <div class="schedule-box">
            <div class="grid-container">
                <div class="timeslot-header">Timeslot</div>
                {% for day in weekdays.values() %}
                    <div class="weekday-header">{{day}}</div>
                {% endfor %}

                {% for element in schedule.items() %}
                    <div class="grid-item-timeslot">{{element[0]}}</div>
                    <div class="grid-item">
                        {% for activity in element[1]["Monday"] %}
                            <div class="activity">
                                <text class="course-name">{{activity[0]}},</text>
                                <text class="course-name">{{activity[1]}}</text>
                                <text class="location">{{activity[2]}}</text>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="grid-item">
                        {% for activity in element[1]["Tuesday"] %}
                            <div class="activity">
                                <text class="course-name">{{activity[0]}},</text>
                                <text class="course-name">{{activity[1]}}</text>
                                <text class="location">{{activity[2]}}</text>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="grid-item">
                        {% for activity in element[1]["Wednesday"] %}
                            <div class="activity">
                                <text class="course-name">{{activity[0]}},</text>
                                <text class="course-name">{{activity[1]}}</text>
                                <text class="location">{{activity[2]}}</text>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="grid-item">
                        {% for activity in element[1]["Thursday"] %}
                            <div class="activity">
                                <text class="course-name">{{activity[0]}},</text>
                                <text class="course-name">{{activity[1]}}</text>
                                <text class="location">{{activity[2]}}</text>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="grid-item">
                        {% for activity in element[1]["Friday"] %}
                            <div class="activity">
                                <text class="course-name">{{activity[0]}},</text>
                                <text class="course-name">{{activity[1]}}</text>
                                <text class="location">{{activity[2]}}</text>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>

</html>