<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="../static/style.css" rel="stylesheet">

        <title>University timetable</title>

    </head>

    <body>

        <div class="header">
            <h1> Schedule </h1>
        </div>
        <div class="schedule-box">
            <div class="grid-container">
                <div class="timeslot-header">Timeslot</div>
                {% for day in weekdays %}
                    <div class="weekday-header">{{day}}</div>
                {% endfor %}

                {% for element in schedule.items() %}
                    <div class="grid-item-timeslot">{{element[0]}}</div>
                    <div class="grid-item">
                        {% for activity in element[1]["Monday"] %}
                            <div class="activity">
                                <text class="course-name">{{activity[0]}}</text>
                                <text class="location">{{activity[1]}}</text>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="grid-item">
                        {% for activity in element[1]["Tuesday"] %}
                            <div class="activity">
                                <text class="course-name">{{activity[0]}}</text>
                                <text class="location">{{activity[1]}}</text>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="grid-item">
                        {% for activity in element[1]["Wednesday"] %}
                            <div class="activity">
                                <text class="course-name">{{activity[0]}}</text>
                                <text class="location">{{activity[1]}}</text>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="grid-item">
                        {% for activity in element[1]["Thursday"] %}
                            <div class="activity">
                                <text class="course-name">{{activity[0]}}</text>
                                <text class="location">{{activity[1]}}</text>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="grid-item">
                        {% for activity in element[1]["Friday"] %}
                            <div class="activity">
                                <text class="course-name">{{activity[0]}}</text>
                                <text class="location">{{activity[1]}}</text>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>

</html>